{{ define "main" }}
	<main>
		<section class="section pb-0">
			<div class="container">
				<div class="level">
					<div class="level-left">
						<div class="block">
							<h1 class="title">{{ .Title }} com {{ .Params.house.bedrooms }} quartos, {{ .Params.house.bathrooms }} banheiros e {{ .Params.house.parkingSpaces }} vagas</h1>
						</div>
					</div>
					<div class="level-right">
						<span class="tag is-info is-light">
							<a href="{{ .Params.house.url }}">{{ .Params.house.providerName }} • {{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</a>
						</span>
					</div>
				</div>
			</div>
		</section>

		<section class="section pb-0">
			<div class="container">
				<p class="title is-5">{{ .Params.house.street }}, {{ .Params.house.number }}</p>
				<p class="subtitle is-6">{{ .Params.house.city }} • {{ .Params.house.neighbourhood }}</p>
				{{ partial "map.html" (dict "latitude" .Params.house.latitude "longitude" .Params.house.longitude "zoom" "18") }}
			</div>
		</section>

		<section class="section mb-6">
			<div class="container">
				<h2 class="title">Descrição</h2>
				<div class="columns is-variable is-8">
					<div class="column is-tree-quarters">
						<div class="columns is-multiline is-variable is-8">
							{{ range .Params.house.properties }}
								<div class="column is-one-third">
									<div class="level is-mobile">
										<div class="level-left"><span class="level-item has-text-centered">{{ .description }}</span></div>
										<div class="level-right"><span class="level-item has-text-centered"><strong>{{ .value }}</strong></span></div>
									</div>
								</div>
							{{ end }}
						</div>
					</div>
					<div class="column is-one-quarter">
						<div class="box">
							<p class="heading">Aluguel Total:</p>
							<p class="title">{{ .Params.house.rentCompletePriceFmt }}</p>
							<p class="heading">Venda:</p>
							<p class="title">{{ .Params.house.salePriceFmt }}</p>
							<p><span class="heading">IPTU: <b>{{ .Params.house.iptuPriceFmt }}</b></span></p>
							<p><span class="heading">Condomínio: <b>{{ .Params.house.condominiumPriceFmt }}</b></span></p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="hero pb-6">
			{{ $indexScratch := .Scratch }}
			{{ partial "load-photoswipe.html" . }}
			<div class="gallery caption-position-bottom caption-effect-slide hover-effect-none" itemscope itemtype="http://schema.org/ImageGallery">
				{{ range .Params.house.images }}
					{{ partial "figure.html" (dict "src" . "indexScratch" $indexScratch) }}
				{{ end }}
			</div>
		</section>
	</main>
{{/*  {{ partial "sidebar.html" . }}  */}}
{{ end }}