{{ define "main" }}
	<main>
		<article>
			<h1>{{ .Title }}</h1>
			<time>{{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time> . <a href="{{ .Params.house.url }}">{{ .Params.house.providerId }} - {{ .Params.house.externalId }}</a>

			<h2>Valores</h2>
			<div>Aluguel: {{ .Params.house.rentCompletePrice }}</div>
			<div>Venda: {{ .Params.house.salePrice }}</div>

			<h2>Endereço</h2>
			<div>{{ .Params.house.type }} • {{ .Params.house.area }}m² </div>
			<div>{{ .Params.house.street }}, {{ .Params.house.number }}</div>
			<div>{{ .Params.house.city }} • {{ .Params.house.neighbourhood }}</div>
			<div>{{ .Params.house.latitude }}, {{ .Params.house.longitude }}</div>
			
			<h2>Descrição</h2>
			<div>{{ .Params.house.bedrooms }} Quartos • {{ .Params.house.bathrooms }} Banheiros • {{ .Params.house.parkingSpaces }} Vagas</div>

			<h2>Imagens</h2>
			{{ $indexScratch := .Scratch }}
			{{ partial "load-photoswipe.html" . }}

			<div class="gallery caption-position-bottom caption-effect-slide hover-effect-zoom" itemscope itemtype="http://schema.org/ImageGallery">
				{{ range .Params.house.images }}
					{{ partial "figure.html" (dict "src" . "indexScratch" $indexScratch) }}
				{{ end }}
			</div>

		</article>
	</main>
{{ partial "sidebar.html" . }}
{{ end }}