<footer>
	<p>&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}"><b>{{ if .Site.Copyright }}{{ .Site.Copyright }}{{ else }}{{ .Site.Title }}{{ end }}</b></a>.
	{{- range .Site.Menus.footer }}
	<a href="{{ .URL }}"><b>{{ .Name }}</b></a>.
        {{- end }}
	</p>
</footer>

<!-- Load PhotoSwipe js if the load-photoswipe shortcode has been used -->
{{ if ($.Scratch.Get "photoswipeloaded") }}
	<script src="/js/load-photoswipe.js"></script>
	<script src="/libs/photoswipe/4.1.1/photoswipe.min.js"></script>
	<script src="/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js"></script>
{{ end }}