<div id="map">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>

    {{/*  Leaflet Fullscreen  */}}
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
    {{/*  Leaflet Fullscreen  */}}

    <script>
        var latlong = [{{- .latitude -}}, {{- .longitude -}}];

        var map = L.map('map').setView(latlong, 13);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        var marker = L.marker(latlong).addTo(map);

        map.addControl(new L.Control.Fullscreen());
        map.dragging.disable()
        map.scrollWheelZoom.disable()

        map.on('fullscreenchange', function () {
            if (map.isFullscreen()) {
                map.dragging.enable()
                map.scrollWheelZoom.enable()
            } else {
                map.dragging.disable()
                map.scrollWheelZoom.disable()
            }
        });

        function onLocationFound(e) {
            var radius = e.accuracy;
        
            L.marker(e.latlng)
                .addTo(map)
                .bindPopup("You are within " + radius + " meters from this point")
                .openPopup();
        
            L.circle(e.latlng, radius)
                .addTo(map);
        }

        function onLocationError(e) {
            {{/*  alert(e.message);  */}}
        }
        
        map.on('locationerror', onLocationError);
        map.on('locationfound', onLocationFound);

        map.locate()
    </script>
</div>